# Test 2b - Merge, Aggregate, Visualize

## Introduction

This problem tests your ability to merge, aggregate, and visualize data.
You'll work with realistic business data to answer questions about product profitability.

Before submitting, ensure your notebook:

- Includes your verification info (Banner ID and code) as the first cell
- Runs completely with "Kernel → Restart & Run All"
- Shows your work (don't just print final answers)
- Includes your interpretation responses at the end

## Dataset: Bean & Brew Coffee Shop

You've been hired to analyze sales data for Bean & Brew, a local coffee shop chain with three locations. The owner wants to understand which products are most profitable and how profitability varies across locations.

There are two data files:

- `sales.csv` - Individual transaction records
  - `transaction_id`: Unique transaction identifier
  - `timestamp`: Date and time of purchase (format: 'YYYY-MM-DD HH:MM:SS')
  - `location`: Store location ('Downtown', 'Campus', 'Suburb')
  - `product_id`: Product identifier (links to products table)
  - `quantity`: Number of units sold
  - `revenue`: Total revenue from transaction
  - `payment_method`: Payment type ('Cash', 'Credit', 'Mobile')
  - `loyalty_member`: Boolean indicating if customer is loyalty program member
- `products.csv` - Product catalog
  - `product_id`: Unique product identifier
  - `name`: Product name
  - `category`: Product category ('Coffee', 'Tea', 'Pastry', 'Sandwich')
  - `cost`: Cost to make/acquire one unit (for profit calculation)

The dataset contains two weeks of sales data (approximately 3,000 transactions) across 18 products. It includes both regular and premium items in each category.

We are interested in learning which product categories generate the most profit, and how does profitability vary across locations? Complete the following tasks to answer those questions and more.

## Scoring

Total: 30 points (+ 5 bonus)

- Tasks 1-6: 18 points
- Interpretation (Questions 1-4): 12 points
- Bonus: 5 points (optional)

## Generate Your Dataset

Before starting the analysis, you need to generate your unique dataset using your Banner ID.

1. Open a terminal in the folder containing `generate_test2b_data.py`
2. Activate your conda virtual environment
3. Run: `python generate_test2b_data.py`
4. Enter your 9-digit Banner ID when prompted (you'll enter it twice to confirm)

The script will create two files in the `data/` folder:

- `data/products.csv` - Product catalog
- `data/sales.csv` - Transaction records

Important: At the end, the script displays a verification block like this:

```
======================================================================
DATA VERIFICATION INFORMATION
======================================================================
banner id:          904123456
verification code:  5e0dXXXXXXXX
======================================================================
```

Copy the banner id and verification code lines and paste them into the cell below. This is required for submission.

======================================================================
DATA VERIFICATION INFORMATION
======================================================================
banner id:          904425455
verification code:  188f0222a536
⚠️  Include those two lines at the top of your notebook submission!
======================================================================

## Setup: Load the Data

Run the cell below to load the data. The code is provided for you.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data (provided)
sales = pd.read_csv('data/sales.csv', parse_dates=['timestamp'])
products = pd.read_csv('data/products.csv')

print(f"Sales: {len(sales)} transactions")
print(f"Products: {len(products)} items in catalog")
print()
print("Sales preview:")
sales.head()

Sales: 2580 transactions
Products: 18 items in catalog

Sales preview:

,transaction_id,timestamp,location,product_id,quantity,revenue,payment_method,loyalty_member
0,1000,2025-11-10 06:01:00,Downtown,113,1.0,4.12,Credit,True
1,1001,2025-11-10 06:15:00,Suburb,107,1.0,2.01,Cash,True
2,1002,2025-11-10 06:46:00,Downtown,101,1.0,3.24,Cash,False
3,1003,2025-11-10 06:53:00,Campus,105,2.0,6.55,Credit,False
4,1004,2025-11-10 07:08:00,Campus,104,1.0,2.25,Mobile,False

In [2]:
# Products catalog
products

    product_id             name  category  cost
0          101         Espresso    Coffee   1.2
1          102       Cappuccino    Coffee   1.8
2          103            Latte    Coffee   1.9
3          104        Americano    Coffee   1.0
4          105        Cold Brew    Coffee   1.5
5          106  Nitro Cold Brew    Coffee   2.5
6          107        Green Tea       Tea   0.8
7          108       Chai Latte       Tea   1.2
8          109       Herbal Tea       Tea   0.7
9          110   Premium Matcha       Tea   2.2
10         111        Croissant    Pastry   1.0
11         112           Muffin    Pastry   0.9
12         113            Scone    Pastry   1.1
13         114    Cinnamon Roll    Pastry   1.4
14         115      Turkey Club  Sandwich   3.5
15         116      Veggie Wrap  Sandwich   2.8
16         117              BLT  Sandwich   3.2
17         118     Steak Panini  Sandwich   5.5

## Task 1: Data Quality Check

Investigate the sales data quality and coverage. Your code should answer the following questions:

1. How many missing values are in each column?
2. How many unique product IDs appear in the sales data? Compare this to the catalog size.
3. What is the date range (earliest and latest transaction)?

### Your Code

In [13]:
#Checking if column timestamp is datetiom64 type
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  2580 non-null   int64
 1   timestamp       2580 non-null   datetime64[ns]
 2   location        2580 non-null   object
 3   product_id      2580 non-null   int64
 4   quantity        2577 non-null   float64
 5   revenue         2577 non-null   float64
 6   payment_method  2580 non-null   object
 7   loyalty_member  2580 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 143.7+ KB

In [16]:
# Task 1: use isna(), nunique(), min/max on timestamp

#1. How many missing values are in each column?
print("\nMissing values by column:")
print(sales.isna().sum())

#2. How many unique product IDs appear in the sales data? Compare this to the catalog size.
count_prod_insales = sales['product_id'].nunique()
print(f"\nThere are {count_prod_insales} product IDs in sales data but there are only {len(products)} items in catalog.")

#3. What is the date range (earliest and latest transaction)?
earliest = sales['timestamp'].min()
latest = sales['timestamp'].max()
print(f"\nThe earliest transaction was on {earliest} and the latest on {latest}.")

Missing values by column:
transaction_id    0
timestamp         0
location          0
product_id        0
quantity          3
revenue           3
payment_method    0
loyalty_member    0
dtype: int64

There are 21 product IDs in sales data but there are only 18 items in catalog.

The earliest transaction was on 2025-11-10 06:01:00 and the latest on 2025-11-23 21:05:00.

## Task 2: Merge Sales with Products

Merge the sales and products DataFrames to add product information (name, category, cost) to each transaction.

### Your Code

In [ ]:
# Task 2: use pd.merge() with appropriate join type

## Task 3: Verify the Merge

After merging, verify that the merge worked correctly:

1. Compare the shape of the merged DataFrame to the original sales data
2. Check if any rows have missing values in the product columns (name, category, cost)
3. If there are missing values, identify which product_id(s) are causing the problem

### Your Code

In [ ]:
# Task 3: check shape, isna() on product columns, filter to find problem IDs

## Task 4: Profit by Category

First, calculate profit for each transaction: `profit = revenue - (cost × quantity)`

Then summarize profitability by product category. Your code should return a table that shows both total profit and number of transactions for each category. Sort it by total profit (highest first).

### Your Code

In [ ]:
# Task 4: create profit column, then groupby with .agg()

## Task 5: Profit by Category and Location

Analyze how profitability varies by both category and location. Your code should produce a table that shows the following for every combination of category and location:

- Total profit
- Average profit per transaction
- Number of transactions

Display the results as a flat table (i.e., without a nested/hierarchical index).

### Your Code

In [ ]:
# Task 5: groupby multiple columns, .agg() with dict, reset_index()

## Task 6: Visualize Category Profitability

Create a bar chart showing total profit by product category. Use seaborn and ensure that the result:

- Has clearly labeled categories
- Includes a descriptive title
- Makes it clear which category is most/least profitable

### Your Code

In [ ]:
# Task 6: use sns.barplot() with aggregated data

## Interpretation

Concisely answer the following questions based on your analysis.


1. What might go wrong if you did not verify the merge in Task 3 before proceeding with the analysis?
2. In Tasks 4 and 5, you aggregated data at different levels of detail (by category, then by category and location). How did this change what you could learn from the data?
3. Reflect on the patterns you discovered in your analysis. What valuable insights did your work generate?
4. The coffee shop owner asks: "Based on your analysis, what's the single most important thing I should do to improve profitability?" Provide a specific, actionable recommendation. Justify your recommendation with evidence from your analysis (include specific numbers from your results). Also, suggest additional analysis that you feel might be worthwhile.

### Your Answers

*Interpretation responses here*

## Bonus: Time-Based Analysis (Optional)

For extra credit, investigate a time-based question of your choosing. Examples of questions you could explore include:

- Do sales patterns differ between weekdays and weekends?
- Which hours are busiest at each location?
- Is there a day of the week that stands out for profitability?

For full credit you must:

- State your question clearly
- Show your analysis code
- Summarize what you found in 2-3 sentences

In [ ]:
# Bonus: Your time-based analysis here

### Your Findings

*Bonus findings here (state your question and what you discovered)*

## Submission

Ensure your notebook:

- Has the verification block (Banner ID and code) as the first cell
- Runs completely from top to bottom without errors
- Shows all task outputs clearly
- Includes all interpretation responses
- Is saved and committed to your repository

Follow the submission instructions on Canvas to submit your work.